<h1>New Post</h1>
<form method="POST" action="/posts/new">
	<div class="form-group">
		<label for="title">Title</label>
		<input type="text" name="title" class="form-control" id="title" placeholder="Title">
	</div>
	<div class="form-group">
		<label for="description">Description</label>
		<textarea name="description" class="form-control" id="description" rows="1"></textarea>
	</div>
	<div class="form-group">
		<label for="content">Content</label>
		<textarea name="content" class="form-control" id="content" rows="5"></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>